{% extends '_layout.html.twig' %}

{% block body %}
<section class="page-content container-fluid col-10 h-100 text-center">
    <h2>Fonctionalitée en cours de création</h2>
    <div><p>Vous êtes sur cette page car la ressource demandée n'est pas encore disponible actuellement.</div>
</section>
{% endblock %}

{% block title %}

{% endblock %}

