{% extends '_layout.html.twig' %}

{% block title %}En cours de création{% endblock %}

{% block body %}
<section class="page-content container-fluid col-10 h-100 text-center">
    <h2>Fonctionnalité en cours de création</h2>
    <p>Vous êtes sur cette page car la ressource demandée n'est pas encore disponible actuellement.</p>
</section>
{% endblock %}
