nav {
    margin: 0;
    padding: 0;
    font-family: $font-text;
}

.navbar {
    background-color: $primary-color;
}

.navbar-brand img {
    width: 200px;
}

.portrait {
    border-radius: $spacing-xs;
    width: 30px;
}

.nav-link {
    color: $light-color;
    margin-left: $spacing;
    margin-right: $spacing;
}

.nav-item {
    padding: $spacing-s;
}

.contact {
    color: $secondary-color;
}

.fa-phone {
    color: $secondary-color;
}
