@import "dashboard";

.article {
    margin: 90px 0 30px 0;
}

.card{
    margin-top:$spacing-l;
    margin-bottom:$spacing-l;
    box-shadow: 0px 1px 5px 0px $primary-color;
}

.fa-5x {
    color: $secondary-color;
}

textarea {
    min-height: 200px;
}

.card {
    height: auto;
    max-height: 25%;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: auto;
        max-width: 100%;
        border-radius: 0.25rem;
    }

    .minArticleImage {
        max-height: 300px;
    }

    .fullArticleImage {
        max-height: 500px;
        float: left;
        margin: 1%;
    }
}





