@import "_vars";

.blog{
    padding-top:100px;

    .card{
        margin-top:$spacing-l;
        margin-bottom:$spacing-l;
        box-shadow: 0px 1px 5px 0px $primary-color;
    }

    .card *{
        margin-bottom: $spacing;
    }

    .sign{
        font-size: 12pt;
    }
}

