@import '_vars';

.homeTop {
    height: 100vh;
    width: 100%;
    background: rgba(50, 50, 50, 0.6);

    img {
        position: absolute;
        height: 100vh;
        width: 100%;
        right: 0;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
        z-index: -1;
        opacity: 1;
    }

    .homeTxt {
        width: 40%;
    }

    .homeTxt * {
        margin-top: $spacing;
        margin-bottom: $spacing;
        color: $light-color;
        text-align: center;
    }

    p {
        font-size: $font-size-sub-title;
    }

    .btnHome {
        margin-top: $spacing-xl;
        width: calc(250px + (300 - 250) * ((100vw - 300px) / (1600 - 300)));
        height: calc(30px + (40 - 30) * ((100vw - 300px) / (1600 - 300)));
    }
}

.partners{
    padding-bottom: $spacing-l;

    h2{
        margin-top: $spacing-xl;
        margin-bottom: $spacing-xl;
    }

    .partner{
        width: 30%;
        margin-bottom: $spacing-xl;

        .partner-pic{
            max-width: 100%;
            max-height: 40px + $spacing-xl;
            object-fit: contain;
        }

        p{
            margin-top: $spacing;
        }
    }
}
