@import "vars";

.team{
    padding-top: 100px;
    padding-bottom: $spacing-l;

    h2{
        margin-bottom: $spacing-l;
    }

    .hook{
        margin-bottom: $spacing-xl;
        font-size: 20pt;
    }

    .member{
        width: 30%;
        margin-bottom: $spacing-xl;

        .member-pic{
            width: 250px;
            height: 250px;
            border-radius: 50%;
            object-fit: cover;
        }

        h3, p {
            margin-top: $spacing;
        }

        .member-role{
            font-size: 18pt;
        }
    }
}
