<footer id="sticky-footer" class="footer bg-footer text-white-50 row">
    <div class="footer-element text-center col-12 col-md-4">
        <h2>Créer son entreprise</h2>
        <ul>
            <li><a href="/">Créer une SAS</a></li>
            <li><a href="/">Créer une SASU</a></li>
            <li><a href="/">Créer une SARL</a></li>
            <li><a href="/">Créer une EURL</a></li>
            <li><a href="/">Créer une SCI</a></li>
        </ul>
    </div>
    <div class="footer-element text-center col-12 col-md-4">
        <h2>Liens Utiles</h2>
        <ul>
            <li><a href="{{ path("article_index") }}">Notre blog</a></li>
            <li><a href="{{ path("team") }}">Notre équipe</a></li>
            <li><a href="/">Mentions légales</a></li>
            <li><a href="/">Conditions d'utilisation</a></li>
            <li><a href="/">Politiques de confidentialité</a></li>
        </ul>
    </div>
    <div class="footer-element text-center col-12 col-md-4">
        <h2>Vous pouvez nous suivre sur</h2>
        <ul class="d-inline-flex justify-content-around">
            <li class="social-button">
                <a href="/">
                    <span class="animated-line"></span>
                    <span class="animated-line"></span>
                    <span class="animated-line"></span>
                    <span class="animated-line"></span>
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li class="social-button">
                <a href="/">
                    <span class="animated-line"></span>
                    <span class="animated-line"></span>
                    <span class="animated-line"></span>
                    <span class="animated-line"></span>
                    <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li class="social-button">
                <a href="/">
                    <span class="animated-line"></span>
                    <span class="animated-line"></span>
                    <span class="animated-line"></span>
                    <span class="animated-line"></span>
                    <i class="fab fa-twitter-square"></i>
                </a>
            </li>
        </ul>
        <h2>Vous êtes avocat ?</h2>
        <ul>
            <li><a href="{{ path('lawyer_register') }}">Nous rejoindre</a></li>
        </ul>
    </div>
</footer>
