<nav class="navbar fixed-top navbar-expand-md">
    <div class="mx-auto order-0">
        <a class="navbar-brand" href="/"><img src="/images/Logo_Izy_Contrat_H.png" alt=""></a>
        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"> </span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Créer mon entreprise</a>
            </li>
            <li class="nav-item">
                <a class="contact nav-link" href="tel:+33620164585">
                    <i class="fas fa-phone"> </i>
                    <i class="contact">06 20 16 45 85</i>
                </a>
            </li>
            {% if app.user %}
            <li class="nav-item">
                <a class="nav-link" id="connexion" href="{{ path('dashboard_home') }}">
                    <img class="portrait"
                         src="https://www.agence-spoutnik.com/wp-content/uploads/2011/04/silhouette-portrait-femme-280x280.jpg"
                         alt="Logo Izy-Contrat">
                    Mon compte
                </a>
            </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" id="connexion" href="" data-toggle="modal" data-target=".bd-example-modal-lg">
                        Connection/Inscription
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>