<nav class="navbar fixed-top navbar-expand-md">
    <div class="nav-content mx-auto order-0">
        <a class="navbar-brand" href="/"><img src="/images/Logo_Izy_Contrat_H.png" alt=""></a>
        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"> </span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-75 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Créer mon entreprise</a>
            </li>
            <li class="nav-item">
                <a class="contact nav-link" href="tel:+33620164585">
                    <i class="fas fa-phone"> </i>
                    <i class="contact">06 20 16 45 85</i>
                </a>
            </li>
            {% if app.user %}
                <li class="dropdown pt-3 pr-3">
                    <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ path('dashboard_home') }}">Tableau de bord</a>
                        <a class="dropdown-item" href="{{ path('dashboard_profile') }}">Mon profil</a>
                        <a class="dropdown-item font-weight-bold text-danger" href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" id="connexion" href="" data-toggle="modal" data-target=".bd-example-modal-lg">
                        Connexion / Inscription
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
