<nav class="navbar fixed-top navbar-expand-md">
    <div class="mx-auto order-0">
        <a class="navbar-brand" href="#"><img src="/images/Logo_Izy_Contrat_H.png"></a>
        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Créer mon entreprise</a>
            </li>
            <li class="nav-item">
                <div class="contact nav-link" href="#">
                    <i class="fas fa-phone"></i>
                    <i class="contact">06 20 16 45 85</i>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img class="portrait"
                         src="https://www.agence-spoutnik.com/wp-content/uploads/2011/04/silhouette-portrait-femme-280x280.jpg"
                         alt="Logo Izy-Contrat">
                    Mon compte
                </a>
            </li>
        </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>
</nav>
