<form method="post" action="{{ path('document_delete', {'id': document.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer le document ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ document.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>
    </button>
</form>
