{% extends '_layoutMember.html.twig' %}

{% block title %}Dashboard {{ auth|capitalize }}{% endblock %}

{% block body %}
    <div class="container col-12 col-lg-10">
        <h1 class="ml-5 pl-5">Dashboard {{ auth|capitalize }}</h1>
    </div>
{% endblock %}
