{% extends '_layoutDashboard.html.twig' %}

{% block title %}Dashboard {{ auth|capitalize }}{% endblock %}

{% block body %}
    <div class="page-content container-fluid col-12 col-lg-10">

    </div>
{% endblock %}
