{% extends '_layout.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <h2 class="article col-8 offset-2">Créer un nouvel article</h2>
        </div>
        <div class="row">
            <div class="col-8 offset-2">{{ include('article/_form.html.twig') }}</div>
        </div>
        <div class="col-12 mb-2 text-center">
            <a href="{{ path('article_index') }}"><i class=" my-5 fas fa-arrow-alt-circle-left fa-5x"></i></a>
        </div>
    </div>
{% endblock %}
